<!-- navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/positions">Positions</a></li>
            <li><a href="/workers">Workers</a></li>
            <li><a href="/scheduler">The Scheduler</a></li>
            <li><a href="/schedules">Schedules</a></li>
            <li><a href="/settings">Settings</a></li>

            <!-- Add more links as needed -->
        </ul>
    </nav>
</body>
</html>
